:root {
  --bg-color: rgba(0, 0, 0, 0.05);
  --code-color: #fcffda;
}
@supports (-moz-appearance:none) {
  body {
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 15px;
  }
  h1 {
    font-size: 18px;
    font-weight: normal;
  }
  textarea {
    padding: 5px;
    border: solid 1px #ccc;
  }
  input[type=submit],
  input[type=button] {
    height: 24px;
    color: rgb(68, 68, 68);
    background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
    text-shadow: rgb(240, 240, 240) 0 1px 0;
    border: solid 1px rgba(0, 0, 0, 0.25);
  }
  input[type=button]:disabled {
    opacity: 0.2;
  }
}
input:invalid {
  border-color: red;
}
pre {
  background: var(--code-color);
}
input[type=submit],
input[type=button] {
  min-width: 100px;
}
input[type=checkbox] {
  margin-right: 5px;
}
label {
  text-align: left;
}
details[open] {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--bg-color);
}
.header h1,
.header details:not([open]) {
  display: inline-block;
}
summary {
  list-style: none;
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 2px 10px;
  margin-left: 5px;
  font-size: 80%;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] summary {
  display: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
td {
  padding: 5px 0 5px 3px;
}

#rules-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-column-gap: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 550px) {
  #rules-container > div {
    grid-template-columns: 1fr min-content;
  }
  #rules-container [data-id="href"] {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 5px;
  }
}
#list[data-visible=false] {
  display: none;
}
#tools {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: min-content min-content 1fr;
}
@media screen and (max-width: 550px) {
  #tools {
    grid-template-columns: 1fr 1fr;
  }
}
#support {
  margin-right: 5px;
}
#save-container {
  display: inline-flex;
}
#save-container::before {
  content: '|';
  padding: 0 5px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 550px) {
  #save-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #save-container::before {
    display: none;
  }
  #password {
    flex: 1;
  }
}
#import-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: min-content min-content;
}
@media screen and (max-width: 550px) {
  #import-container {
    grid-template-columns: 1fr 1fr;
  }
}
#toast {
  margin-top: 10px;
  display: block;
}
#toast[data-type=error] {
  font-weight: bold;
  color: #ff2323;
}

.space {
  margin-bottom: 5px;
  display: block;
}
[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[align=center] {
  align-items: center;
}
[pack=center] {
  justify-content: center;
}
