:root {
  --bg-color: rgba(0, 0, 0, 0.05);
  --code-color: #fcffda;
  --bg: #fff;
  --clc: #4d5156;
  --border: #ccc;
  --bg-active: #e7f9ff;
  --bg-error: red;
  --link: #07c;
  --bg-input: #fff;
  --clc-input: #000;
  --admin-bg: #ffffed;
  --admin-border: #e8ec3a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(0, 0, 0, 0.05);
    --code-color: #fcffda;
    --bg: #202124;
    --clc: #c0c0c0;
    --link: #5eb0d7;
    --bg-input: #000;
    --border: #565656;
    --clc-input: #000;
    --admin-bg: #3e3e34;
    --admin-border: #6f6f6c;
  }
}
body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: var(--bg);
  color: var(--clc);
  max-width: 80%;
  margin: 10px auto;
}

@media screen and (max-width: 600px) {
  body {
    margin: 10px;
    max-width: unset;
  }
}

h1 {
  font-size: 18px;
  font-weight: normal;
}
h3 {
  font-size: 14px;
  font-weight: normal;
}
textarea {
  padding: 5px;
  border: solid 1px var(--border);
}
input[type=submit],
input[type=button] {
  height: 24px;
  color: rgb(68, 68, 68);
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.2;
}
textarea,
input[type=number],
input[type=text],
input[type=time] {
  color: var(--clc);
  background-color: var(--bg-input);
  outline: none;
  border: solid 1px var(--border);
  padding: 5px;
  box-sizing: border-box;
}
textarea:focus,
input[type=number]:focus,
input[type=text]:focus,
input[type=time]:focus {
  color: var(--clc-input);
  background-color: var(--bg-active);
}

input[type="time"] {
  border: solid 1px var(--border);
  outline: none;
}
input:invalid {
  border-color: var(--bg-error);
}
pre {
  background: var(--code-color);
}
input[type=submit],
input[type=button] {
  min-width: 100px;
}
input[type=checkbox] {
  margin-right: 5px;
}
label {
  text-align: left;
}
details[open] {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--bg-color);
}
.header h1,
.header details:not([open]) {
  display: inline-block;
}
summary {
  list-style: none;
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 2px 10px;
  margin-left: 5px;
  font-size: 80%;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] summary {
  display: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
td {
  padding: 5px 0 5px 3px;
}
a,
a:visited {
  text-decoration: none;
  color: var(--link);
}

#rules-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-column-gap: 5px;
  margin-bottom: 5px;
  align-items: center;
}
@media screen and (max-width: 550px) {
  #rules-container > div {
    grid-template-columns: 1fr min-content;
  }
  #rules-container [data-id="href"] {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 5px;
  }
}
#list[data-visible=false] {
  display: none;
}
#tools {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: min-content min-content 1fr;
  align-items: center;
}
@media screen and (max-width: 550px) {
  #tools {
    grid-template-columns: 1fr 1fr;
  }
}
#save-container {
  display: inline-flex;
}
#save-container::before {
  content: '|';
  padding: 0 10px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 550px) {
  #save-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #save-container::before {
    display: none;
  }
  #password {
    flex: 1;
  }
}
#import-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: min-content min-content;
  align-items: center;
}

@media screen and (max-width: 550px) {
  #import-container {
    grid-template-columns: 1fr 1fr;
  }
}
#toast {
  margin-top: 10px;
  display: block;
}
#toast[data-type=error] {
  font-weight: bold;
  color: #ff2323;
}

#schedule > div {
  display: grid;
  grid-template-columns: min-content repeat(2, 1fr) min-content;
  grid-gap: 5px;
  align-items: center;
}

.admin {
  background-color: var(--admin-bg);
  border: solid 1px var(--admin-border);
  padding: 10px;
  margin: 15px 0;
}
.space {
  margin-bottom: 5px;
  display: block;
}
.gap {
  gap: 5px;
}
.indent {
  margin-left: 32px;
}
.view {
  display: grid;
  grid-gap: 2px 5px;
  grid-template-columns: min-content min-content;
  align-items: center;
  white-space: nowrap;
  margin-left: 10px;
}
.twidth {
  display: grid;
  grid-gap: 2px 5px;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
  white-space: nowrap;
}

#schedule-helper {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.1);
}
#schedule-helper > div:first-of-type {
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr;
  align-items: center;
  grid-gap: 5px;
}
#schedule-helper > div:nth-of-type(2) {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  flex-flow: wrap;
}
#schedule-helper > div:nth-of-type(2) label {
  display: flex;
  gap: 2px;
  align-items: center;
}
#schedule-helper > div:last-of-type {
  display: flex;
  gap: 5px;
  justify-content: end;
}
#schedule-helper input:invalid {
  border-color: var(--border);
}

[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[align=center] {
  align-items: center;
}
[pack=center] {
  justify-content: center;
}
