html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;

  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;

  background: #f0f0f0 url('blocked.svg') center center no-repeat;
  background-size: 50vh;
}

header h1 {
  text-align: center;
  font-weight: 500;
}
header table {
  table-layout: fixed;
}
header td:last-of-type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body>div:nth-child(2) {
}
header,
p,
footer {
  padding:  10px;
}
form {
  display: inline-block;
  margin-left: 5px;
}
input[type=text],
input[type=password] {
  outline: none;
  border: solid 1px #ccc;
  height: 22px;
  line-height: 22px;
  text-indent: 5px;
  min-width: 150px;
  background-color: #f0f0f0;
}
input:focus {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #006cc3;
}
body[data-dark=true] a {
  color: #90bbde;
}

#domain {
  font-size: 150%;
}
#sub-domain,
#pathname,
#search {
  opacity: 0.5;
}
#switch {
  position: absolute;
  top: 0;
  right: 0;
  background: url('button_on.svg') no-repeat center center;
  background-size: 32px;
  width: 64px;
  height: 48px;
  cursor: pointer;
  border: none;
  outline: none;
}

body[data-dark=true] {
  background-color: #212121;
  background-image: url('blocked_dark.svg');
  color: #d0d0d0;
}
body[data-dark=true] #switch {
  background-image: url('button_off.svg')
}
body[data-dark=true] input[type=text],
body[data-dark=true] input[type=password] {
  background-color: #3c3c3c;
  color: #d0d0d0;
}
body[data-dark=true] input:focus {
  background-color: #575757;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[align=center] {
  align-items: center;
}
